<div class="container" id="i18_link">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <ul class="list-inline social-icon">
            <li> Any Questions? Please Email Us!</li>
            <li><a href="mailto:admin@entrepreneurs.berkeley.edu"><i class="fa fa-envelope-o"></i></a></li>
        </ul>

        <ul class="list-inline">
          <li>
            <p id="jalpc_site_pv"><strong>© 2017 Entrepreneur@Berkeley</strong></p>
          </li>
            <li>
              <a href="https://www.ocf.berkeley.edu">
                <img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin.svg"
                    alt="Hosted by the OCF" style="border: 0;" />
              </a>
            </li>
        </ul>
        <p> We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site. </p>
      </div>
  </div>
</div>
