<div class="container" id="program_timeline">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="career.my_career">Program Timeline</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
            {% for event in site.data.index.current_program_timeline %}
            {% assign loopindex = forloop.index | modulo: 2 %}
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg wow rotateIn">
                        <i class="fa {{ event.icon }}"></i>
                    </div>
                    <div class="vertical-timeline-content wow {% if loopindex == 1 %} rotateInUpRight {% else %} rotateInUpLeft {% endif %}">
                        <a href="{{ event.desc.url }}">
                          <h2><span data-i18n="career.{{ event.name.i18n }}">{{ event.name.detail }}</span></h2>
                            {% for detail in event.desc.detail %}
                              <p> {{detail.desc}} </p>
                                
                                <!-- <br> -->
                            {% endfor %}
                          <span class="vertical-date"><span data-i18n="event.{{ event.date.i18n }}"> {{ event.date.detail }} </span>
                          <br/> <small><span data-i18n="event.{{ event.job.i18n }}">{{ event.location.detail }}</span></small> </span>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>


</div>
